#footer {
    padding-top: 150px;
    text-align: center;
    color: #626262;
}

#footer-line {
    border-top: 2.5px solid #ED4F0B;
    width: 95%; /* 선의 가로 길이 조절 */
    margin: 0 auto; /* 가운데 정렬을 유지 */
}

#footer-text {
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 15px;
  }