.highlighted-text {
    color: #ED4F0B;
}

.main-info {
    padding-left: 22%;
    font-size: 40px;
    padding-top: 10px;
}

.info-header {
    color: #ED4F0B;
    font-size: 20px;
    font-weight: 600;
    padding-left: 22%;
}

.info-content P{
    position: relative;
    color: grey;
    font-size: 17px;
    font-weight: 350;
}

#info-line {
    border-top: 1px solid #cbcbcb;
    width: 95%; /* 선의 가로 길이 조절 */
    margin: 100px auto;
}
