.project2 {
  text-align: center;
}

.image2-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project2-button {
  margin: 0 10px;
  cursor: pointer;
}

.project2-image {
  max-width: 600px;
  display: block;
}

#project-line {
  border-top: 1px solid #cbcbcb;
  width: 95%; /* 선의 가로 길이 조절 */
  margin: 100px auto;
}

.project2-name {
  color: gray;
  font-size: 17px;
  margin-right: 43%;
  margin-bottom: -0.5%;
}

.slide-etc2 {
  color: #2B76CE;
  font-size: 11px;
  margin-right: 33%;
}
