.project1 {
    text-align: center;
  }
  
  .image1-container {
    display: flex;
    justify-content: center; /* 수평 */
    align-items: center; /* 수직 */
  }
  
  .project1-button {
    margin: 0 10px;
  }
  
  .project1-image {
    max-width: 600px;
    display: block;
  }
  
  .project-head {
    text-align: center;
    color: gray;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5%;
}

.project1-name {
    color: #ED4F0B;
    font-size: 18px;
    font-weight: 500;
    margin-right: 44.5%;
    margin-bottom: -0.5%;
}

.slide-etc1 {
    color: #2B76CE;
    font-size: 11px;
    margin-right: 33%;
}

.project1-outline {
    text-align: center;
    font-size: 17px;
    font-weight: 340;
}

.project1-outline .MuiPaper-root {
    color: #5f6060;
}

.project-element {
    font-size: 20px;
    font-weight: 400;
    color: #ED4F0B;
    margin-top: 5%;
    margin-bottom: 5px;
    margin-right: 60%;
}